<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta name="google" content="notranslate h">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/turretcss@5.2.1/dist/turretcss.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>

    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <section>
          <h1>
            what's trans, dog?
          </h1>
        </section>

        <section>
          <h2 id="colors">L: original | R: transmooked</h2>
        </section>
      </div>
    </header>

    <main class="background-white padding-vertical-xxl">
      <div class="container">
        <h3>
          Simple p test
        </h3>
        <section id="1" class="border padding-s max-width-m border-radius">
          <pre>
          <code class="html">
            <p>
             This is a test
            </p>
          </code>
          </pre>
          <pre>
          <code class="html">
            <p>
              This is a test
            </p>
          </code>
          </pre>
        </section>
      </div>
      <div class="container notranslate">
        <h3>
          Simple p test 2
        </h3>
        <section id="2" class="border padding-s max-width-m border-radius notranslate">
          <pre>
          <code class="html" pre>
            <p>
             This is a test
            </p>
          </code>
          </pre>
          <pre>
          <code class="html" post>
            <p>
             This is a test
            </p>
          </code>
          </pre>
        </section>
      </div>
      <div class="container notranslate">
        <h3>
          Simple a test
        </h3>
        <section id="3" class="border padding-s max-width-m border-radius notranslate">
         <a href="https://google.de">
          <span>This is a test link</span>
          </a>
        </section>
      </div>
    </main>
    <script>
   //   hljs.initHighlightingOnLoad();
    </script>
  </body>
  <script src="/client.js" defer></script>
</html>
