<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta name="google" content="notranslate h" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://cdn.rawgit.com/beautify-web/js-beautify/v1.10.2/js/lib/beautify-html.js"></script>
    <!-- import the webpage's stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/turretcss@5.2.1/dist/turretcss.min.css"
    />

    <link rel="stylesheet" href="./style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <section>
          <h1>
            what's trans, dog?
          </h1>
        </section>

        <section>
          <h2 id="colors">L: original | R: transmooked</h2>
        </section>
      </div>
    </header>

    <main class="background-white padding-vertical-xxl">
      <!---------------------------------->
      <div class="container">
        <h3 class="notranslate">
          Simple div test
        </h3>
        <section id="1" class="border padding-s border-radius">
          <pre pre>
            <div>
            This is a test
            </div>
          </pre>
          <pre pos>
            <div>
            This is a test
            </div>
          </pre>
        </section>
      </div>
      <!---------------------------------->
      <div class="container notranslate">
        <h3 class="notranslate">
          Simple div test (.notranslate)
        </h3>
        <section id="2" class="border padding-s border-radius">
          <pre pre>
            <div>
            This is a test
            </div>
          </pre>
          <pre pos>
            <div>
            This is a test
            </div>
          </pre>
        </section>
      </div>
      <!---------------------------------->
      <div class="container">
        <h3 class="notranslate">
          Simple "code" test
        </h3>
        <section id="3" class="border padding-s border-radius">
          <pre pre>
            <code>
              Cookie
            </code>
          </pre>
          <pre pos>
            <code>
              Cookie
            </code>
          </pre>
        </section>
      </div>
      <!---------------------------------->

      <div class="container">
        <h3 class="notranslate">
          Simple "span" test
        </h3>
        <section id="4" class="border padding-s border-radius">
          <pre pre>
            <span>
              Pork
            </span>
          </pre>
          <pre pos>
            <span>
              Pork
            </span>
          </pre>
        </section>
      </div>
      <!---------------------------------->
      <div class="container">
        <h3>
          Simple Link test
        </h3>
        <section id="5" class="border padding-s border-radius">
          <pre pre>
            <a href="//example.com">
              Click me :))
            </a>
          </pre>
          <pre pos>
            <a href="//example.com">
              Click me :))
            </a>
          </pre>
        </section>
      </div>
      <!---------------------------------->
      <div class="container">
        <h3>
          testlink
        </h3>
        <section id="6" class="border padding-s border-radius">
          <pre pre>
            <a class="panel1 cur" href="#"
              ><span
                ><span class="nummer">1</span
                ><span class="titel">Testraße</span></span
              ></a
            >
          </pre>
          <pre pos>
           <a class="panel1 cur" href="#"
              ><span
                ><span class="nummer">1</span
                ><span class="titel">Testraße</span></span
              ></a
            >
          </pre>
        </section>
      </div>
      <!---------------------------------->
    </main>
    <script></script>
  </body>
  <script src="/client.js" defer></script>
</html>
