body {
  padding: 15px;
}

pre {
  flex: auto;
}

section,
header {
  display: flex;
  margin: auto;
}
.container {
  width: auto !important;
  margin-top: 15px;
  text-align: center;
}
pre[pre] {
  background: whitesmoke;
}
pre[pos] {
  background: #b2dcef;
  max-width: 75%;
}

.notranslate section{
  background: silver;
}